/* Global */

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #fdf5e6;
  background: #fff3cd;
  margin: 0;
  padding: 0;
  display: block;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d62626;
  position: sticky;
}
.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  position: relative;
  margin-left: 7em;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.logo img {
  height: 165px;
  margin-left: 20px;
  margin-top: 50px;
  margin-right: 10px;
  position: absolute;
}

/* Navigation */
.nav a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.nav a:hover {
  color: black;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav a:hover::after {
  transform: scaleX(1);
}

/* Layout */
.container {
  display: flex;
  padding: 20px;
}

/* Sidebar */
.sidebar {
  min-width: 20%;
  max-width: 315px;
  max-height: fit-content;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.instagramLogo {
  width: 50px;
}

.facebookLogo {
  width: 100px;
  margin-left: -10px;
}

/* Category Buttons */
.button-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.button-filter {
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  width: auto;
  height: 45px;
  font-size: 15px;
  cursor: pointer;
}

.button-filter.button-active {
  background-color: #ffcc00;
}

/* Menu Section */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  padding: 15px;
  width: 100%;
  max-width: none;
}

.menu-items {
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-evenly;
  gap: 40px;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
  background-color: #ffffff;
  width: 500px;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}
.price {
  font-weight: bold;
}
.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px black;
}

/* Menu Item Image */
.menu-item img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
}

.menu-item:hover img {
  transform: rotate(5deg);
}

/* Footer */
.footer {
  background-color: #ffcc00;
  text-align: center;
  max-width: 315px;
  padding: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}

/* Animasjon */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* To top btn */
#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  display: none;
}

#toTop.show {
  display: block;
}

/* Contact Form */
.contact-container {
  width: 750px;
  margin-top: 5px;
  margin-left: 80px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  text-align: center;
}

.contact-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 800;
}

.contact-container p {
  font-size: 1.2em;
  margin: 10px 0;
}

.email-link,
.phone-link {
  font-size: 1.2em;
  color: #d62626;
  text-decoration: none;
  font-weight: bold;
}

.email-link:hover,
.phone-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }

  .menu-items {
    justify-content: center;
  }
}
